@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
html ,body 
{
	direction: rtl;
  font-family: 'DroidArabicKufiRegular';
}
p , span , li{
	font-family: 'DroidArabicKufiRegular';
}
.padding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.float_right{
	float: right !important;
}
.Page_Header{
	/*margin-top: 8%;
	padding-right: 10px;*/
}
.Page_Header ul li{
	display: inline-block;
	border-left: 1px solid black;
	float: right;
	font-family: 'DroidArabicKufiRegular';
}
.Page_Header ul li:last-child 
{
border:none;

}
.Page_Header ul li a{
	color: black;
}
.Page_Header ul li span{
	font-size: 30px;
	padding-left: 10px;
}
.callUs img{
	padding-right: 75%;
}
.titles_company span{
font-size: 30px;
}
.Part_Companies{
	background-color: #eee;
	padding-top: 20px;
	height: 400px;
}
.OneItem{
	background-size: contain;
	height: 250px;
	background-repeat: no-repeat;
}
.company_detail p{
	font-size: 20px;
	padding-top: 20px;

}
.ComBtn
{
	    background-color: #337ab7;
    color: white;
    font-size: 20px;

}
/**footer**/
.First_part
{
	background-color: rgba(51, 122, 183, 0.82);
	padding-top: 30px;
	height: 100px;
}
.Text_footer{
	font-size: 20px;
	color: white;
}
.tasgel{
	background-color: blue;
}
.second_part{
	height: 200px;

    background-color: #333;
}
.Logo_footer_about_us{
	padding-top: 20px;
}
.text_footer ul li span{
	font-size: 15px;
	color: white;
}
.text_footer .menu-header-container ul li {
	display: block;
}
.text_footer {
	margin-top: 25px;
}
.text_footer ul{
	width: 45% !important;
}
.text_footer ul li {
	padding-top: 10px;
	border-bottom: 1px solid #777;
}
.SocialMedia{
	margin-top: 25px;
	padding-right: 15% !important;
}
.thirdPart{
	padding-top: 10px;
    background-color: black;
    height: 50px;
}
/*******header responsive******/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 768px)
{
.container{
	padding-right: 0px !important;
	padding-left: 0px !important;
	color: black;
}

.Page_Header 
{
	color: black;
	display: none;
	
}
.imgsForCompanies{
	height: 500px;
}
.imgcompany img{
	width: 150px;
	height: 150px;
	
}

.OneItem {
    background-size: contain;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.Part_Companies{
	height: 700px !important;
	background-color: #eee; 


}

/***footer  responsive**/
.Text_footer{
	font-size: 15px;
}
.imgtxtfooter{
	width: 50px;
}
.text_footer ul
{
	list-style: none;
	width: 100% !important;
}
.logofooter{
	width: 100%;
}
.second_part{
	height: auto;
}


}