/*add style*/
.breadcrumb >ul,
.breadcrumb >ul > li{
    display: inline-block;
}
.liked{
    color: #ff0000;
}
[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-gear:before,
.icon-like:before,
.icon-unlike:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.icon-like:before { content: "\f004"; }
.icon-unlike:before { content: "\f08a"; }
.icon-gear:before { 
    content: "\f013";
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% { 
        -moz-transform: rotate(0deg); 
    }
    100% { 
        -moz-transform: rotate(359deg); 
    }
}

@-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg); 
    }
    100% { 
        -webkit-transform: rotate(359deg); 
    }
}

@-o-keyframes spin {
    0% { 
        -o-transform: rotate(0deg); 
    }
    100% { 
        -o-transform: rotate(359deg); 
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

a.sv-post-like {
    font-weight: normal;
    display: inline-block;
    width: auto;
    -moz-transition: all 0.3s ease-out 0.2s;
    -webkit-transition: all 0.3s ease-out 0.2s;
    -o-transition: all 0.3s ease-out 0.2s;
}

a.sv-post-like.liked { 
    color: #da1b1b; 
}

a.sv-post-like:hover,
a.sv-post-like:active,
a.sv-post-like:focus,
a.liked:hover,
a.liked:active,
a.liked:focus {
    color: #000;
}

@-o-keyframes spin {
    0% { 
        -o-transform: rotate(0deg); 
    }
    100% { 
        -o-transform: rotate(359deg); 
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/*Custom Theme*/
.header .vc_row[data-vc-full-width]{
    overflow: inherit !important;
}
.remove-hidden.vc_row[data-vc-full-width]{
    overflow: inherit !important;
}
.vc_row.vc_row-no-padding .wpb_column {
    padding-left: 0;
    padding-right: 0;
}
.logo h1{
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    color: #ff9677;
    font-size: 30px;
}
ul.page-numbers{
    margin: 0 0 0 30px;
    float: right;
    padding-left: 0;
    list-style: none;
}
ul.page-numbers li{
    display: inline-block;
}
ul.page-numbers li > span.current, ul.page-numbers li > a:hover {
    background-color: #555;
    border-color: #555;
    color: #fff;
}
ul.page-numbers li > a,
ul.page-numbers li > span{
    border: 1px solid #e5e5e5;
    color: #1b1d1f;
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    transition: all .5s ease-out 0s;
    width: 36px;
    display: block;
}
.st-default{
    margin-bottom: 50px;
    /*margin-top: 30px;*/
}
ol.comments .comment > ul.children{
    padding-left: 85px;
    margin-bottom: 30px;
}
.top-left li > ul {
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: -1px 3px 5px -1px rgba(0,0,0,.1);
    left: 0;
    margin-left: -65px;
    margin-top: 30px;
    opacity: 0;
    padding: 12px 20px 30px;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 210px;
    z-index: 9;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.top-left > li {
    display: inline-block;
    position: relative;
}
ul.top-left{
    padding: 0;
    margin: 0;
    list-style: none;
}
.top-left > li:hover > ul {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
.top-left ul > li {
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
    position: relative;
}
.top-left ul > li::before {
    content: "\f22d";
    font-family: fontAwesome;
    left: 0;
    position: absolute;
    top: 17px;
}
.top-left ul > li > a {
    display: block;
    padding: 15px 0;
}
.top-left ul {
    list-style: none none;
    padding: 0;
    margin-bottom: 10px;
}
.newsletter{
    background-image: none;
}
.logo-footer {
    padding-bottom: 17px;
}
.banner-adv.banner-background {
    height: 336.2px;
    text-align: center;
}
.brand-slider{
    border: 0;
}
.hidden-text span{
    display: none;
}
.btn-product-loadmore i{    
    margin: 0 5px;
}
.hidden.fa-spin{
    display: inline-block !important;
}
.product-price > span {
    font-size: 18px;
    margin: 0 5px;
    text-decoration: none;
    color: #262626;
}
.title-box1 {
    padding-bottom: 40px;
    margin-bottom: 0;
}
.wrap-search-login {
    padding-right: 140px;
}
.register-box {
    right: 15px;
}
.main-single-content p{
    color: #666;
    margin: 0 0 25px;
    line-height: 24px;
}
.st-default p,
.content-single p{
    line-height: 24px;
}
.woocommerce div.product.product-extra-link{
    position: absolute;
    margin: auto;
}
.product-thumb > a{
    background: #eee;
}
.woocommerce .woocommerce-ordering select{
    height: 35px;
    padding-left: 6px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
}
.product-list .product-thumb {
    float: left;
    width: 33%;
}
.product-list .product-info {
    float: left;
    margin-top: 0;
    padding-left: 30px;
    width: 67%;
    text-align: left;
}
.qty-val {
    border: 0;
    height: 40px;
}
.product-list .info-extra {
    margin-bottom: 20px;
}
.woocommerce div.product.info-extra {
    margin-bottom: 20px;
}
.woocommerce button.button.alt,.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background: #555;
    border: none;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.woocommerce button.button.alt:hover,.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
    background-color: #ff9677;
    color: #fff;
}
.product-list .wrap-cart-qty {
    margin-top: 5px;
    max-width: inherit;
}
.product-list .desc {
    margin-top: 20px;
}
.shop-page{
    margin-bottom: 20px;
}
.woocommerce .widget_price_filter .price_slider_amount{
    text-align: center;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
    float: none;
    margin: 30px auto 10px;
    padding: 0;
    width: 80px;
    border-radius: 0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
    background: #fff;
    border-radius: 0;
    height: 10px;
    margin: 0 0 0 -5px;
    top: -4px;
    width: 10px;
    border: 2px solid #ff9677;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
    background: #ff9677;
}
.woocommerce .widget_price_filter .price_slider_amount{
    font-size: 14px;
}
.widget .product-title {
    font-weight: normal;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
    width: 70px;
    background: #eee;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li {
    padding: 15px 0;
}
.woocommerce ul.cart_list li:first-child, .woocommerce ul.product_list_widget li:first-child{
    padding-top: 0;
}
.woocommerce ul.cart_list li:last-child, .woocommerce ul.product_list_widget li:last-child{
    padding-bottom: 0;
}
.footer-bottom1.footer-dark,
.footer-bottom1.footer-bottom2{
    border-top: 0;
}
.newsletter-footer input[type=text] {
    color: #999;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding: 0 15px;
    width: 306px;
    border: 1px solid #e5e5e5;
}
.newsletter-footer input[type=submit]{
    background: #555;
    border: none;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
    margin-top: 10px;
    border-radius: 6px;
}
.content-product-detail.has-sidebar .product-gallery #bx-pager{
    margin: 0 -5px;
}
.content-product-detail.has-sidebar .product-gallery #bx-pager a{
    margin-right: 5px;
    margin-left: 5px;
}
.content-tags-detail > h2:first-child{
    display: none;
}
.single-product .shop-page {
    margin-bottom: 50px;
}
.page-title {
    margin: 0 0 25px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b1d1f;
}
.main-nav ul li:hover > ul {
    margin: 0;
    opacity: 1;
    visibility: visible;
}
.main-nav ul li{
    position: relative;
}
.sub-menu li {
    padding: 0 15px;
    position: relative;
}
.sub-menu li>a {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    padding: 15px 0;
    text-transform: capitalize;
}
.total-cart span span{
    display: inline-block;
}
.product-popup-content{
    padding: 15px;
}
.woocommerce div.product form.cart .variations label{
    font-weight: normal;
    text-transform: capitalize;
}
.woocommerce div.product form.cart .variations select{
    height: 34px;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{
    background: #555;
    color: #fff;
}
.woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled]{
    color: #fff;
}
.attr-product .list-none li {
    display: inline-block;
    margin: 2px 1px;
    vertical-align: middle;
}
.attr-product .list-none li a span{
    position: relative;
    overflow: hidden;
}
.attr-product .list-none li a {
    color: #1b1d1f;
    display: block;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    padding: 0 3px;
    text-align: center;
}
.attr-product .list-none li a:hover,
.attr-product .list-none li.active a {
    background: #eee;
}
.special .default-attribute{
    display: none;
}
.product-list .variations{
    margin-bottom: 20px;
}
.attr-product li.active span::after {
    background: #1b1d1f;
    content: "";
    height: 1px;
    left: -50%;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 200%;
}
.attr-product>label{
    text-transform: capitalize;
}
.widget .widget-top-seller li {
    margin-bottom: 20px;
    border: 0;
    padding: 0;
}
.widget .widget-top-seller li:last-child{
    margin-bottom: 0;
}
.newsletter::before {
    background: rgba(0,0,0,.3);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block !important;
}
.woocommerce table.shop_table{
    border-collapse: collapse;
}
.woocommerce-cart table.cart input{
    height: 34px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
    min-width: 160px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
    background: #555;
    color: #fff;
    padding: 0 30px;
    font-weight: normal;
    font-size: 14px;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.woocommerce input.button.alt:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover{
    background-color: #ff9677;
    color: #fff;
}
#add_payment_method .cart-collaterals .cart_totals table, .woocommerce-cart .cart-collaterals .cart_totals table, .woocommerce-checkout .cart-collaterals .cart_totals table{
    border-collapse: collapse;
}
.woocommerce-checkout input.input-text,
.woocommerce-checkout input[type="text"],
.woocommerce-checkout textarea,
.woocommerce-checkout select{
    border: 1px solid #e5e5e5;
    height: 40px;
    padding: 0 8px;
}
.woocommerce input.button.alt{
    background: #555;
    color: #fff;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.tagcloud>a{
    font-size: 14px !important;
}
.widget .tagcloud {
    border: 0;
    padding: 0;
}
.widget .list-instagram>li{
    padding: 5px;
    border-bottom: 0;
}
.widget .list-instagram>li:first-child {
    padding-top: 5px;
}
.list-instagram>li>a::after{
    border-radius: 6px;
}
.widget .widget-recent-post .list-none li {
    margin-bottom: 20px;
    padding: 0;
    border-bottom: 0;
}
.widget .widget-recent-post .list-none li:last-child{
    margin-bottom: 0;
}
p.post-date{
    line-height: 18px
}
.widget .screen-reader-text{
    display: none;
}
.widget ul.children > li > a,
.widget ul.sub-menu > li > a{
    padding-left: 15px;
    position: relative;
}
.widget ul.sub-menu > li > a::before,
.widget ul.children > li > a::before {
    content: "\f1db";
    font-family: fontAwesome;
    left: 0;
    position: absolute;
    top: 6px;
    font-size: 6px;
}
.widget .sub-menu li>a{
    border-bottom: 0;
    padding: 0;
}
.main-single-content{
    margin-bottom: 30px;
}
.page-links{
    margin: 30px 0;
}
.content-single .post-comment .comment-text ul{
    padding-left: 40px;
    list-style: disc;
    margin-top: 5px;
}
.content-single .post-comment .comment-text ol{
    padding-left: 40px;
    list-style: decimal;
    margin-top: 5px;
}
.comments-area.comments ol.comments li.comment{
    margin-bottom: 30px;
}
.comment-text{
    margin-bottom: 10px;
}
.comment-time {
    margin: 5px 0 5px;
}
.comment-form p.comment-note{
    margin-bottom: 0;
}
.comment-form {
    margin-top: 20px;
}
.comment-form .controls{
    margin-bottom: 30px;
}
.comment-reply-title{
    color: #1b1d1f;
    font-size: 16px;
    margin: 0 0 20px;
    text-shadow: 0 0 0;
    text-transform: uppercase;
    font-weight: 700;
}
.comments-area.comments ol.comments li.comment-pingback{
    margin-bottom: 10px;
}
.gallery-columns-4 .gallery-item:nth-child(4n+1){
    clear: left;
}
.main-nav .sub-menu .sub-menu{
    left: 100%;
    top: 0;
}
.main-page-content li{
    margin-bottom: 5px;
}
/*My account*/
.woocommerce-MyAccount-navigation ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.woocommerce-MyAccount-navigation ul li{
    padding: 8px 15px;
    margin-bottom: 5px;
    background: #555;
}
.woocommerce-MyAccount-navigation ul li.is-active,
.woocommerce-MyAccount-navigation ul li:hover{
    color: #fff;
    background: #ff9677;
}
.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li:hover a{
    color: #fff;
}
.woocommerce-MyAccount-navigation ul li a{
    color: #fff;
}
.woocommerce-MyAccount-content{
    padding: 15px;
    border: 1px solid #e5e5e5;
}
.woocommerce-MyAccount-content a{
    color: #333;
}
.woocommerce-MyAccount-content a:hover{
    color: #ff9677;
}
.woocommerce-account .addresses .title .edit{
    font-size: 14px;
    background: #555;
    color: #fff;
    padding: 5px 10px;
    margin-top: 20px;
}
.woocommerce-account .addresses .title .edit:hover{
    background: #ff3e3e;
}
.woocommerce form .form-row input.input-text{
    height: 40px;
    border: 1px solid #e5e5e5;
}
.select2-container .select2-choice{
    height: 40px;
    border: 1px solid #e5e5e5;
    line-height: 40px;
}
.select2-drop-active{
    border-color: #e5e5e5;
}
a.selected,
a.active {
    color: #ff9677;
}
.banner-info-image{
    right: -50px;
}
.bg-slider .banner-thumb img {
    max-width: none;
    opacity: 0;
}
.bg-slider .container {
    height: 100%;
}
.banner-slider2 .owl-theme .owl-controls .owl-buttons div {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-top: -25px;
    border-radius: 0;
}
.banner-slider2 .owl-theme .owl-controls .owl-buttons div i{
    line-height: 50px;    
}
.remove-hidden{
    z-index: 1;
}
.item-attr-title{
    text-align: left;
}
.filter-show .title-tab1 .list-none{
    float: left;
}
.ajax-loading{
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.ajax-loading i{
    font-size: 40px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    color: #fff;
}
.loadding{
    position: relative;
}
.footer-bottom1.footer-bottom2{
    border-top: 0;
}
.footer-dark .sub-title {
    color: #fff;
}
.footer-dark .download p {
    border-bottom-color: rgba(255,255,255,.1);
    color: #999;
}
.footer-dark .footer-nav li a, .footer-dark .newsletter-footer>p, .footer-dark .phone-number {
    color: #999;
}
.footer-dark .footer-nav li a:hover {
    color: #fff;
}
.footer-dark .footer-nav {
    border-color: rgba(255,255,255,.1);
}
.footer-dark .menu-footer .list-inline a:hover {
    color: #fff;
}
.footer-dark .menu-footer .list-inline a {
    color: #999;
}
.wrap-content-top3{
    margin-top: -100px;
}
.header3 .logo{
    text-align: center;
}
.main-header .logo {
    display: inline-block;
    margin-right: 10px;
    padding-right: 30px;
}
.post-thumb-link>img{
    height: auto;
}
.product-slider3 {
    margin-top: 56px;
}
.product-thumb img{
    height: auto;
}
.footer-dark .footer-nav li a:hover::before {
    border-color: #fff;
    background: #fff;
}
.top-right.box-meta8 > ul > li > a,
.top-right.box-meta6 > ul > li > a,
.top-right.box-meta3 > ul > li > a{
    font-size: 0;
}
.top-right.box-meta8 > ul > li > a i,
.top-right.box-meta6 > ul > li > a i,
.top-right.box-meta3 > ul > li > a i{
    font-size: 14px;
}
.top-right.box-meta6>ul>li>a.mycart-link .number-cart-total,
.top-right.box-meta3>ul>li>a.mycart-link .number-cart-total {
    top: -16px;
}
.item-product-masonry .product-price span {
    color: #fff;
    transform: scale(0);
    -webkit-transform: scale(0);
    display: inline-block;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
/*.item-product-masonry .product-price del span{
    color: #999;
}*/
.item-product-masonry .product-price del::after{
    background: #fff;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.item-product-masonry .product-thumb:hover .product-price del::after,
.item-product-masonry .product-thumb:hover .product-price span {
    transform: scale(1);
    -webkit-transform: scale(1);
}
.item-product-masonry{
    float: left;
}
.loadding .list-product4{
    opacity: 0;
    min-height: 200px;    
}
.top-left.top-left6 .currency-link,
.top-left.top-left6 .language-link {
    border: none;
    padding-left: 0;
}
.top-right.box-meta3 .info-user .inner-user-info,
.top-right.box-meta6 .info-user .inner-user-info{
    left: -50px;
}
.header-nav6 {
    border-top: 0;
    padding: 0;
}
.header-nav6 > div > div{
    border-top: 1px solid #e5e5e5;
    padding: 16px 0 6px;
}
.home-6 .banner-info {
    border: 2px dashed #f4f4f4;
    height: 400px !important;
    padding-top: 90px;
    width: 700px;
}
.signup-banner {
    background: transparent;
    height: auto;
    margin: 0;
}
.signup-banner > div{
    height: 570px;
    position: relative;
}
.signup-banner .wpb_text_column .banner-info{
    margin-bottom: auto !important;
}
.about-testimo-slider {
    background: #f3a39a;
    padding: 77px 80px 78px;
}
.about-service-slider.banner-slider .owl-theme .owl-controls .owl-buttons div {
    width: 30px;
    height: 30px;
    font-size: 18px;
}
.about-service-slider.banner-slider .owl-theme .owl-controls .owl-buttons div i{
    line-height: 30px;
}
.sv-slider .owl-item > div{
    display: block;
}
.service-brand{
    margin-bottom: 45px;
}
.footer-dark2.footer-bottom1 {
    border-top: 1px solid rgba(255,255,255,.2);
}
.footer-dark2 .logo-footer a::after {
    background: rgba(255,255,255,.2);
}
.logo-footer a{
    position: relative;
}
.logo-footer a::after {
    background: #e5e5e5;
    content: "";
    height: 5px;
    left: 100%;
    margin-left: 30px;
    position: absolute;
    top: 15px;
    width: 1200px;
}
.social-footer {
    margin: 24px -3px 0;
}
.footer-top7{
    background: #f9f9f9;
    padding: 50px 0;
    border-top: 1px solid #e5e5e5;
}
.fade-out-in > a:not(.adv-thumb-link)::after, .fade-out-in > a:not(.adv-thumb-link)::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background: rgba(0,0,0,.1);
    opacity: 0;
    z-index: 1;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.fade-out-in:hover > a:not(.adv-thumb-link)::before {
    opacity: 1;
    top: 50%;
    bottom: 50%;
}
.fade-out-in:hover > a:not(.adv-thumb-link)::after {
    opacity: 1;
    left: 50%;
    right: 50%;
}
.banner-top7 img {
    margin: auto;
    max-width: 990px;
}
.form-hidden{
    z-index: 1;
}
.slick-slide img{
    height: auto;
}
.intro-service7{
    margin-top: 0;
    padding-bottom: 100px;
}
.product-box6.product-box7{
    background: rgba(0,0,0,0);
    margin-bottom: 0;
}
.product-wrap7{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 100px;
}
.product-box7 .item-product {
    background: 0 0;
}
.product-box7 .item-product .product-price > span,
.product-box7 .item-product .product-price del,
.product-box7 .item-product .product-price ins,
.product-box7 .item-product .product-title a {
    color: #fff;
}
.footer-parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.banner-slider.bg-slider .item-slider:not(.home-2) .banner-info {
    height: 200px;
}
.btn-menu-hover{
    display: none;
}
.main-nav8 .btn-menu-hover{
    display: inline-block;
}
.top-right.box-meta8>ul>li>a>i {
    margin-top: 11px;
}
.list-deal-box8{
    margin-bottom: 70px;
}
.top-header9 .top-left> li>a {
    border-color: rgba(0,0,0,.1);
    color: #fff;
}
.newsletter.newsletter9:before{
    background: rgba(0,0,0,0);
}
.woocommerce div.product form.cart .group_table tr,
.woocommerce div.product form.cart .group_table td{
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}
.woocommerce div.product form.cart .group_table div.quantity{
    padding: 0;
}
.woocommerce div.product form.cart .group_table td.label{
    padding: 0 20px;
}
.group_table .info-qty>label{
    display: none;
}
.group_table .info-qty{
    max-width: 128px;
}
.woocommerce div.product form.cart .group_table td > label{
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 46px;
}
.woocommerce div.product form.cart .group_table td.label,
.woocommerce div.product form.cart .group_table div.quantity{
    border: 0;
}
.info-product-detail .group_table .product-price {
    margin-bottom: 0;
    line-height: 43px;
}
.woocommerce div.product form.cart .group_table td{
    vertical-align: middle;
    padding: 0 15px;
}
form.cart .group_table{
    margin-bottom: 30px;
}
.main-nav .preview-image {
    background: #fff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    left: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    border: 1px solid #e5e5e5;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.main-nav li:hover > .preview-image {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
.preview-image img{
    height: auto;
}
.preview-image>a {
    display: block;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.preview-image > a > img {
    left: 0;
    position: absolute;
    top: 0;
    transition: all 5s ease-in-out 0s;
    -webkit-transition: all 5s ease-in-out 0s;
    width: 100%;
}
.preview-image > a:hover > img {
    top: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
img{
    height: auto;
}
.comments-area > .post-title {
    color: #1b1d1f;
    font-size: 16px;
    margin: 0 0 20px;
    text-shadow: 0 0 0;
    text-transform: uppercase;
}
.widget .sub-menu li.menu-item-has-children > a {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}
.banner-slider3.bg-slider .item-slider:not(.home-2) .banner-info {
    height: 400px;
}
.signup-banner > div{
    background-position: right top;
}
.group_table .qty-val{
    width: 42px;
}
.product-gallery #bx-pager a img{
    width: 100%;
}
.fancybox-skin{
    background: #fff;
}
.item-service2 .service-info p{
    line-height: normal;
}
.search-form form input[type=text]{
    width: 100%;
}
.footer-top2{
    padding: 50px 0;
    background: #f5f5f5;
}
.about-service-slider .item-service2 .service-info p{
    line-height: 24px;
}
.product-box7 .product-price del::after {
    background: #fff;
}
.header8 .logo{
    text-align: center;
}
.footer-top2.footer-top8{
    background: rgba(0,0,0,0);
}
.blog .content-shoptop {
    margin-bottom: 40px;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    line-height: 40px;
}
.woocommerce #reviews #comments ol.commentlist{
    padding-left: 0;
}
.woocommerce #reviews #comments h2 {
    margin: 0 0 25px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b1d1f;
}
.attr-product:first-child{
    margin-top: 0;
}
.shop_table .product-quantity:before{
    padding-top: 10px;
    padding-left: 10px;
}
.qty-val{
    background: rgba(0,0,0,0);
}
.post-comment-date{
    margin-bottom: 18px;
}
ul.bxslider{
    list-style: none;
}
.list-adv8.list-adv8-element{
    margin-bottom: 0;
}
.block-top100{
    margin-top: 100px;
}
.block-top50{
    margin-top: 50px;
}
.block-top70{
    margin-top: 70px;
}
.block-bottom100{
    margin-bottom: 100px;
}
.block-bottom50{
    margin-bottom: 50px;
}
.white p {
    color: #fff;
}
.main-single-content p:last-child,
.main-single-content p.desc,
.main-single-content .latest-post-info3>p{
    margin: 0
}
.latest-news3.latest-page{
    margin-top: 0;
}
.latest-page .latest-news7{
    margin-bottom: 20px;
}
/*Grid Post fix*/
.vc_gitem-align-right .product-rate {
    float: right;
}
.vc_gitem-align-center .product-rate {
    margin: auto;
}
.vc_is-hover{
    position: relative;
}
.vc_is-hover .product-extra-link>a {
    opacity: 1;
    transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
}
.vc_is-hover .product-extra-link>a.compare-link {
    transform: scale(1) translateY(-50px);
    -webkit-transform: scale(1) translateY(-50px);
}
.vc_is-hover .product-extra-link>a.wishlist-link {
    -webkit-transform: scale(1) translateY(50px);
    transform: scale(1) translateY(50px);
}
.vc_is-hover .quickview-gitem-hover {
    transform: translate(0);
    -webkit-transform: translate(0);
}
.product-rate.gitem-hover {
    bottom: -15px;
    left: 50%;
    margin: auto auto auto -40px;
    position: absolute;
}
.vc_is-hover .product-rate.gitem-hover {
    bottom: 15px;
}
.quickview-gitem-hover {
    background: #ff9677;
    border-radius: 50%;
    bottom: -30px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.1);
    color: #fff;
    height: 90px;
    line-height: 0;
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    right: -30px;
    width: 90px;
    transform: translate(90px,90px);
    -webkit-transform: translate(90px,90px);
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.quickview-gitem-hover i {
    display: inline-block;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.vc_is-hover .quickview-gitem-hover {
    transform: translate(0);
    -webkit-transform: translate(0);
}
.vc_is-hover .quickview-gitem-hover:hover i {
    transform: scale(2);
    -webkit-transform: scale(2);
    color: #fff;
}
.item-product.item-gitem{
    padding: 0;
    margin-bottom: 0;
}
.item-gitem .product-title a {
    font-size: 14px;
    margin: 0 0 6px;
    text-transform: uppercase;
}
.vc_custom_heading.product-title a:hover{
    color: #ff9677;
    opacity: 1;
}
.product-title.vc_gitem-post-data {
    margin-bottom: 4px;
}
.vc_is-hover .product-extra-overlay::after{
    opacity: 1;
}
.product-extra-overlay::after {
    background: rgba(0,0,0,.3);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.vc_gitem-post-data-source-post_excerpt{
    max-height: 50px;
    overflow: hidden;
}
body .vc_gitem-zone-b .vc_gitem-post-data-source-post_excerpt{
    margin-bottom: 0;
}
body .vc_gitem-post-data-source-post_excerpt p{
    margin-bottom: 0;
}
body .vc_gitem-zone-b p{
    margin-bottom: 0;
    color: #fff;
}
body .vc_gitem-animate-slideInRight .vc_gitem-zone-b p,
body .vc_gitem-animate-goTop20 .vc_gitem-zone-b p{
    color: #666;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-col {
    padding: 15px;
}
.vc_grid .vc_gitem-link.vc_general{
    border-bottom-style: solid;
}
.vc_grid .vc_gitem-link.vc_general.vc_btn3{
    border-bottom-width: 2px;
}
.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    border-bottom-style: none;
}
.main-single-content .wpb_text_column p{
    margin-bottom: 10px;
}
.item-attr-content .slider-range-price{
    margin-right: 27px !important;
    height: 1px !important;
}
.white .product-price del,
.white .product-price ins,
.white .product-price > span{
    color: #fff;
}
.white .product-price del::after{
    background: #fff;
}
/*Menu fixed style*/
.fixed-header {
    position: fixed !important;
    top: -100px;
    left: 15px !important;
    z-index: 9998;
    -webkit-transition: top 0.5s ease-out 0s !important;
    transition: top 0.5s ease-out 0s !important;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.admin-bar .fixed-header.active {
    top: 32px;
}
.fixed-header.active{
    top: 0;
    padding: 12px 0 5px;
}
.menu-fixed-content.fixed-header{
    background: #fbfbfb;
    width: 100%;
    left: 0 !important;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    max-width: 100%;
    display: block;
}
 /*fix menu home*/
.fixed-header.active.main-nav1{
    padding: 0;
}
.fixed-header .header8{
    position: static;
    padding: 0;
}
.fixed-header.main-nav8{
    background: rgba(0,0,0,0.6);
}
.header3.fixed-header{
    top: -100px;
}
.header3.fixed-header.active{
    top: 0;
}
.admin-bar .header3.fixed-header.active {
    top: 32px;
}
.header3{
    top: inherit;
}
/*end menu fixed*/
.item-product .sale-label {
    top: 10px;
    left: 10px;
}
.item-product-masonry.item-gitem{
    float: none;
    width: 100%;
    padding: 0;
}
.item-product8.item-gitem{
    margin: 0;
}
.item-product8.item-gitem .quickview-link{
    text-align: center;
}
.product-title.vc_custom_heading h3{
    font-size: 14px;
    margin: 0;
}
.deal-slider8 .owl-theme .owl-controls .owl-buttons div,
.btn-rect.dotted:hover{
    background: 0 0 !important;
}
.owl-theme.arrow-style3 .owl-controls .owl-buttons div,
.banner-info.white .list-btn-banner>a.dotted:hover{
    background: #fff !important;
}
.item-service2 .service-info p.desc {
    color: #555 !important;
}
.woocommerce .wishlist_table td.product-add-to-cart a{
    background: #555;
    line-height: 26px;
    font-size: 14px;
}
.woocommerce .wishlist_table td.product-add-to-cart a:hover{
    background-color: #ff9677;
}
.woocommerce table.wishlist_table{
    font-size: 100%;
}
.woocommerce a.remove{
    margin: auto;
}
.woocommerce .wishlist-title h2{
    text-transform: uppercase;
    color: #1b1d1f;
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
}
.yith-wcwl-share {
    margin-bottom: 20px;
}
.woocommerce-ordering select {
    height: 35px;
    padding-left: 6px;
}
.list-product .col-md-2:nth-child(6n+1){
    clear: both;
}
/*mega menu fix*/
.main-nav .has-mega-menu > .sub-menu {
    background: #fff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    left: 0;
    top: 80%;
    padding: 40px 35px;
    width: 1170px;
    z-index: 0;
    margin-top: 30px;
    border-width: 0;
}
.main-nav.main-nav8 .has-mega-menu > .sub-menu {
    left: 100%;
    top: 0;
    width: 970px;
}
.main-nav .has-mega-menu:hover > .sub-menu{
    z-index: 999;
}
.header-nav6 .main-nav li.menu-item-has-children.has-mega-menu,
.main-nav.main-nav8 li.menu-item-has-children.has-mega-menu {
    position: static;
}
.main-nav>ul{
    margin-bottom: 0;
    padding-bottom: 10px;
}
.main-nav li.has-mega-menu:hover>.mega-menu {
    margin-top: 0;
}
.mega-menu-link{
    margin: 0;
}
.main-nav .menu-item-has-children .mega-menu-link ul li a,
.main-nav .menu-item-has-children .mega-menu-link ul li{
    padding: 0;
    border-bottom: 0;
}
.main-nav .has-mega-menu > .sub-menu > li > a{
    color: #333;
    margin: 0 0 25px;
    text-transform: inherit;
    font-size: 18px;
    border-bottom: 0;
    padding: 0;
    font-weight: 700;
}
.main-nav .has-mega-menu > .sub-menu > li > .sub-menu{
    position: static;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 1;
    z-index: 0;
    visibility: inherit;
}
.main-nav .has-mega-menu > .sub-menu > li > .sub-menu > li a{
    padding: 0;
    border-bottom: 0;
}
.main-nav .has-mega-menu > .sub-menu > li > .sub-menu > li{
    padding: 0;
    margin-bottom: 20px;
}
.wrap-attr-product1.normal select{
    border: 0;
    width: 100%;
}
.wrap-attr-product1.normal .attr-detail-box{
    position: relative;
}
.wrap-attr-product1.normal .attr-detail-box::after {
    position: absolute;
    right: 0;
    background: #fff;
    top: 0;
    width: 15px;
    line-height: 34px;
    height: 100%;
    content: "\f107";
    font-family: fontAwesome;
}
.woocommerce ul.products{
    margin-bottom: 0;
}
.page:not(.woocommerce) ul.products{
    margin: 0 -15px;
}
.features-list .item-service2{
    margin-bottom: 30px;
}
.rtl-enable .fixed-header[data-vc-full-width="true"]{
    right: 15px !important;
}
.intro-about .desc {
    margin: 0;
    padding: 15px 0 35px;
}
.contact-info-box .title30 {
    padding-bottom: 45px;
}
.comment-form input[type=email] {
    border: 1px solid #ccc;
    color: #999;
    height: 50px;
    padding: 0 15px;
    width: 100%;
}
.page-template-default .item-test-about p {
    font-size: 18px;
    margin: 38px 0 7px;
}
body .banner-slider9  .banner-info {
    height: 320px !important;
}
.long-arrow .owl-theme .owl-controls .owl-buttons div {
    opacity: 1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 30px;
    overflow: hidden;
}
.long-arrow .owl-theme .owl-controls .owl-buttons div.owl-next::after {
    content: "\f178";
    left: 0;
}
.long-arrow .owl-theme .owl-controls .owl-buttons div::after {
    font-family: fontAwesome;
    position: absolute;
    top: 5px;
}
.long-arrow .owl-theme .owl-controls .owl-buttons div.owl-prev::after {
    content: "\f177";
    right: 0;
}
.long-arrow .owl-theme .owl-controls .owl-buttons div i {
    display: none;
}
.header9 .logo{
    text-align: center;
}
.box-intro9 {
    padding-bottom: 10px;
}
.post-comment-date a{
    color: #999;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 14px;
}
.post-comment-date li {
    line-height: 24px;
}
.post-comment-date {
    margin-bottom: 12px;
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count{
    margin-bottom: 0;
}
.sort-pagi-bar .product-filter.pull-right:after{
    content: "\f0dd";
    position: absolute;
    right: 1px;
    top: 1px;
    font-family: "Fontawesome";
    height: 33px;
    line-height: 29px;
    width: 30px;
    background: #fff;
    text-align: center;
}
.list-product9 .product-main > a{
    padding: 303px 0 0 250px;
    background: #eee;
}
.desc-pro9{
    padding-bottom: 100px;
}
/*.item-product .product-thumb{
    background: #f4f4f4;
}*/
.list-adv10 .banner-adv {
    margin: 0 0 40px;
}
.list-adv10{
    padding: 0;
}
.content-top13,
.top-banner-prl{
    background-image: none;
}
.list-service11 {
    padding: 0 15px;
}
.product-type-slider.long-arrow .owl-theme .owl-controls .owl-buttons div {
    font-size: 14px;
    height: 20px;
    width: 20px;
}
.list-brand11 .wpb_column{
    padding: 0;
}
.product-type-slider .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 15px;
}
.product-type-slider .owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: -15px;
}
.side-home-11 .product-type-slider .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 0;
}
.side-home-11 .product-type-slider .owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: 0;
}
.product-type-slider.long-arrow .owl-theme .owl-controls .owl-buttons div::after {
    top: 3px;
}
.store-process{
    margin-bottom: 30px;
}
.deal-product-box11 .deal-product-box11{
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.list-brand11{
    margin-bottom: 100px;
}
.list-product-type11 {
    margin-bottom: 87px;
}
.top-header.top-header5{
    z-index: 9999;
}
.brand-slider12{
    padding-bottom: 50px;
    margin-top: -25px;
}
.footer-top7 .wpb_column,
.brand-slider12 .wpb_column{
    padding: 0;
}
.latest-news13 .latest-newslider{
    margin-bottom: 0;
}
.banner-page14{
    height: auto;
}
.banner-page14 > .wpb_column:first-child{
    height: 800px;
}
.banner-page14 .banner-info{
    top: 50%;
    bottom: auto;
    margin-top: -135px;
    padding: 0 15px
}
.text-mega-sale{
    margin-top: 180px;
}
.service-list14{
    background: #f9f9f9;
    padding-top: 100px;
}
.banner-page14 {
    margin-bottom: 0;
}
.arrow-style14 .owl-theme .owl-controls .owl-buttons div.owl-next {
    border-radius: 0 6px 6px 0;
}
.arrow-style14 .owl-theme .owl-controls .owl-buttons div {
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #999;
    height: 40px;
    opacity: 1;
    width: 55px;
}
.arrow-style14 .owl-theme .owl-controls .owl-buttons div.owl-prev {
    border-radius: 6px 0 0 6px;
}
.arrow-style14 .owl-theme .owl-controls .owl-buttons div i {
    line-height: 40px;
    font-size: 18px;
}
.arrow-style14 .owl-theme .owl-controls .owl-buttons div:hover {
    color: #ff9677;
}
.hotcat-slider14.arrow-style14 .owl-controls {
    top: -55px;
}
.testimo5 .about-testimo-slider{
    padding: 80px;
}
.about-testimonial.testimo5 {
    padding: 0 70px;
}
.testimo5 .about-testimo-slider .owl-controls{
    bottom: 30px;
}
.top-header5 .top-right>ul>li>a.mycart-link .number-cart-total{
    color: #fff;
}
.main-nav.main-nav9>ul>li>a:hover {
    color: #fff;
}
.arrow-style14 .owl-theme .owl-controls .owl-buttons div:hover,
.owl-theme.arrow-style14 .owl-controls .owl-buttons div:hover,
.item-cat-hover-dir .btn-rect:hover{
    background: #fff;
}
/*live search*/
.search-loading{
    text-align: center;
}
.list-product-search {
    background: #fff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    left: 0;
    margin-top: 32px;
    padding: 10px 20px;
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 375px;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}
.item-search-pro {
    border-bottom: 1px solid #e5e5e5;
    display: table;
    padding: 10px 0;
    width: 100%;
}
.item-search-pro>div.search-ajax-thumb {
    width: 50px;
}
.item-search-pro>div.search-ajax-title {
    padding: 0 10px;
}
.item-search-pro>div {
    display: table-cell;
    vertical-align: middle;
}
.item-search-pro .title14 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
.live-search-on.active .list-product-search {
    opacity: 1;
    visibility: visible;
    margin-top: 2px;
}
.info-list-cart{
    height: 245px;
    overflow: hidden;
    margin: 30px -15px 0;
    padding: 0 15px;
}
.info-list-cart.mCustomScrollbar{
    padding: 0;
}
.info-list-cart .mCustomScrollBox{
    padding: 0 15px;
}
.item-service2 .service-icon a {
    background: #333;
}
.item-service2:hover .service-icon a {
    background: #ff9677;
    border-color: #ff9677;
}
.header12 .logo {
    display: inline-block;
    margin-right: 10px;
    padding-right: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 5px 8px;
}
.select2-container--default .select2-selection--single{
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 5px;
}
.widget_product_search .search-field{
    border: 1px solid #e5e5e5;
    height: 38px;
    padding: 0 8px;
    width: 100%;
}
.widget_product_search input[type="submit"]{
    background: #555;
    border-radius: 4px;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    margin-top: 10px;
}
.woocommerce .list-product .products ul.list-none{
    margin-bottom: 0;
}
.product-grid li.col-md-4:nth-child(3n+1){
    clear: both;
}
.fancybox-overlay{
    z-index: 9999;
}